[Desktop Entry]
Name=Sega 32X
Comment=PicoDrive Emulator
Exec=picodrive.dge %f
Icon=picodrive
Categories=emulators.systems;
X-OD-Manual=picodrive.man.txt
X-OD-Selector=/home/retrofw/roms/32x
X-OD-Filter=.zip,.smd,.bin,.md,.gen,.32x
Terminal=false
StartupNotify=true
