[Desktop Entry]
Name=PicoDrive
Comment=MegaDrive/Genesis Emulator
Exec=picodrive.dge %f
Icon=picodrive
Categories=emulators;
X-OD-Manual=picodrive.man.txt
X-OD-Selector=/home/retrofw/roms/megadrive
X-OD-Filter=.zip,.smd,.bin,.md,.gen,.sms,.gg,.sg,.32x,.iso,.cue
Terminal=false
StartupNotify=true
